@font-face {
  font-family: Dosis;
  src: url("./fonts/Dosis-Regular.ttf") format('truetype');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: Dosis;
}

p {
  margin-left: 50px;
  margin-bottom: 0px !important;
  font-weight: bold;
  color: #2EBB88;
}

.main-logo {
  margin-left: 30px;
}

h4 {
  position: absolute;
  margin-left: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bolder;
  color: #2EBB88;
}

.ronaldi {
  margin-right: 50px;
}

h1 {
  text-align: center;
  margin-top: 30px !important;
}

label {
  font-size: 18px;
  font-weight: bolder;
}

.form-container {
  margin: 0 20px;
}

input {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid black
}

h2 {
  font-weight: bold !important;
  color: #2EBB88;
  font-size: 25px !important;
  text-align: center;
  margin-top: 50px !important;
}

button {
  background-color: #2EBB88;
  padding: 20px 50px;
  border: transparent;
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  border-radius: 5px !important;
}

.result {
  margin-bottom: 50px;
}