.loss-logo {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .answer {
      margin-top: 50px;
      padding-right: 50px;
  }
  